.container {
  padding: 0 2rem;
  background: #efeeee;
  min-height: 100vh;
}

.logo {
  width: 100px;
  height: 50px;
}

.logout {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.logout svg {
  width: 30px;
  height: 30px;
  fill: #8e8e90;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: #fb6666;
}

.title {
  margin: 0;
  position: relative;
  top: 0;
  padding-bottom: 3rem;
  line-height: 1.15;
  font-size: 4rem;
  color: #fb6666;
  text-align: center;
}

.head {
  font-size: 1.5rem;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 400px;
  margin-bottom: 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.head p {
  margin: 1rem 2rem 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
  padding-top: 5px;
  padding-bottom: 4rem;
}

.card {
  text-align: left;
  text-decoration: none;
  border: 6px solid #292931;
  border-radius: 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 271.11px;
  height: 271.11px;
  box-shadow: 0px 10px 40px #00000040;
  background: #292931;
  color: #ffff;
}

.card:hover,
.card:focus,
.card:active {
  color: #fb6666;
  border-color: #292931;
  box-shadow: 0px 10px 40px #00000090;
  transform: translateY(-0.25em);
}

.card h2 {
  margin: 13rem 0 0 1rem;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
