.container {
  padding: 0 2rem;
  background: #efeeee;
  min-height: 100vh;
}

.logo {
  width: 100px;
  height: 50px;
}

.logout {
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.logout svg {
  width: 30px;
  height: 30px;
  fill: #8e8e90;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background: #fb6666;
}

.title {
  margin: 0;
  position: relative;
  top: 0;
  padding-bottom: 3rem;
  line-height: 1.15;
  font-size: 4rem;
  color: #fb6666;
  text-align: center;
}

.head {
  font-size: 1.5rem;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 400px;
  margin-bottom: 3rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.head p {
  margin: 1rem 2rem 1rem;
}
